/*variables*/
$FontColor: #666464;/*colorBase*/
$CardBackground:#CBDFBD;;/*fondoCards*/
$Font-face:'Open Sans', sans-serif; /*fuente*/
$FontH1: 'pacifico';  /*fuenteH1*/
$FontH1Color: #A44A3F; /*fuenteH1*/
$FontTextoMobile: 'roboto'; /*fuenteMobile*/
$FontTextoMobileSize: 12px;
$background:#F6F4D2;
%h2mobile { /*extend*/
    padding: 5px 16px 0; 
    font-family: $FontH1;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    color: $FontH1Color;
}
%estiloTextos{ /*extend*/
    margin: 5% 10%;
    font-family: $FontTextoMobile;
    font-size: $FontTextoMobileSize;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: $FontColor;
}
/*finVariables*/

/*inicioEstilosTodasLasPaginas*/
*{padding: 0; /*sacoLoPredeterminado*/
    margin: 0;
    border: 0ch;
}
.encabezado{/*header*/
    height: 4rem;
    width: 100%;
    background-color:#F19C79 ;/*fondoHeader*/
    display: flex;
    justify-content: space-between;
    position:sticky;/*encabezadoFijo*/
    top: 0;
    z-index: 1030;
    padding-right: 3rem;
    padding-left: 3rem;
    .logo {
        padding: 5px;
        margin-left:5vw;
    }
    .bg-light { /*menuDeNavegacion*/
        background-color:#F19C79 !important;
    }
    .navbar-light {
        .navbar-toggler {
            color:$FontColor; /*usoVariables*/
            border-color:$FontColor;
        }
        .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
            color: $FontColor;
            font-size: 16px;
        }
    }
    ul {
        list-style: none;/*sacaViñetaLista*/
        display: flex;
        justify-content:space-around;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        background-color: #F19C79;
    }
    a {text-decoration: none; /*sacaSubrayadoTodosA*/
        display: flex;
        justify-content: space-between;
    } /*terminaMenuNavegacion*/  
}/*cierraHeader*/
footer { /*footerUnico*/
    bottom: 0;
    left: 0;
    right: 0;
    div.social-media-links {
        background-color:#CBDFBD;
        overflow: hidden;
        text-align: center;
        color: #1A7564;
        padding-top: 0.7rem;
        ul {
            margin: 0;
            padding: 0 20px 0 0;
        }
        li{
            display: inline;
            margin: 0;
            padding: 0 10px; 
        }
        a{
            border-bottom: 0px solid rgba(0,0,0,0.95) ;
            border-radius: 4px;
            box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0),
            0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0),
            0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
            display: initial;
            height: 30px;
            padding: 20px;
            position: relative;
            -webkit-transition: 0.2s ease-in;
            transition: 0.2s ease-in;
            width: 30px; 
            svg {
                left: 20px;
                position: absolute;
                top: 20px;
                height: 30px;
                width: 30px;
                .glow path,
                .glow circle{
                    fill: rgba(0, 0, 0, 0);
                }
                path,
                circle {
                    fill: #1A7564;
                    -webkit-transition: 0.2s ease-in;
                    transition: 0.2s ease-in;
                }
            }
        }
        a:hover {
            -webkit-transform: translateY(-4px);
            transform: translateY(-4px); 
            box-shadow: inset 0 -3px 0 0 #1A7564;
            svg.glow{
                filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
                -webkit-filter: blur(2px);
                filter: blur(2px);
                path, 
                circle{
                    fill: fadeout ( #1A7564c7, 40)
                }
            }
            svg path,
            & circle {
                fill:#1A7564c7;
            }
        }
        p.copy {
            margin-top: 0px;
            color: $FontColor;
            padding-top: 1em;
        }
    }
}
/*finEstilosTodasLasPaginas*/

/*estilosHome*/
.seccionHome{
    background: $background;
    .introduccion{
        h1{
            padding: 16px;
            font-family: $FontH1;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px;
            text-align: center;
            color: $FontH1Color;
        }
        h2{ 
            @extend %h2mobile;   
        }
    }
    .main{
        .texto{
            @extend %estiloTextos;
        }
        .imagenOcultable{
            display: none;
        }
        .imagenPortada1{
            width: 288px;
            margin: 12%;
        }
        .imagenPortada2{
            width: 288px;
            margin: 0 12% 12%;  
        }
    }
}
.utiles{
    background: $background;
    h2{ 
        @extend %h2mobile;
    }
    .card-row{
        display: flex;
        flex-wrap: wrap; 
        padding: 2rem;
        background: $background;
        justify-content: space-around;
        align-content: space-between;
    }
    .card{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding-right: 1rem;
        padding-left: 1rem;
        position:relative;
        background: $CardBackground;
        margin:5px;
    }
    .card-inner{
        font-size: 14px;
        font-family:'roboto';
        color:$FontColor;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
        min-height: 150px;
        padding: 1rem;
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem;
        transition: 0.2s ease-in-out;
        cursor:pointer;
    }
    .card-inner:before {/*efectoCards*/
        width: 0;
        transition: 0.2s;
        z-index: 0;
        content: "";
        background-color: $FontH1Color;
        height: 4px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .card:hover .card-inner:before {
        width: 100%;
    }
    .card:hover .card-inner{
        top: -2px;
        box-shadow: 0px 20px 40px 0px rgba(61, 65, 84, 0.15);/*finEfectoCards*/
    }
}
/*mediaQueryHome*/
@media only screen and (min-width:600px){ /*pantallaMediana*/
    .seccionHome{
        .introduccion{
            padding: 0px;
            h1{
                font-size: 27px;
            }
            h2{
                font-size: 25px;
            }
        }
        .main{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            .texto{
                margin: 5% 8%;
                font-size: 14px;
            }
            
            .imagenOcultable{
                display:flex;
                position: static;
                left: 0%;
                right: 51.21%;
                top: 2.59%;
                bottom: 2.59%;
                border: 0;
                flex-grow: 0;
                margin: 0px 17px;
                width: 50%;
            }
            .imagenPortada1{
                display: none;
            }
            .imagenPortada2{
                width: 55%;
                margin: 0;
                padding: 25px 16px 0;
            }
        }
    }
    .utiles{
        display: flex;
        h2{
            align-self: center;
            font-size: 25px;
        }
    }
}
@media only screen and (min-width:992px)/*pantallaGrande*/{
    .seccionHome{
        .introduccion{
            h1{
                font-size: 31px;
            }
            h2{
                font-size: 28px;
                padding-top: 35px;
            }
        }
        .main{
            margin: 0 15% 0 15%;
            .texto{
                font-size: 16px;
                line-height: 20px;
            }
            .imagenPortada2{
                padding-top: 0;
            }
        }
    }
    .utiles{
        padding: 0 15% 1%;
        justify-content: center;
        h2{
            font-size: 28px;
        }
    }
}/*finMediaQuerysHome*/
/*finEstilosHome*/
.seccionPrimerosPasos{
    background: $background;
    .introduccion{
        h1{padding-top: 16px;
            font-family: $FontH1;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px;
            text-align: center;
            color: $FontH1Color;
        }
        h2{
            @extend %h2mobile;
            padding-top:0;
        }
    }
    .divPrimerosPasos{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 15%;
        .textoPrimerosPasos{
        @extend %estiloTextos;
        margin:0;
        margin-bottom: 1rem;
        }
    }
    .imagenPrimerosPasos{
        display: flex;
        width: 55%;
        padding-bottom: 15px;
    }   
}
.seccionPrimerosPasos2{
    background: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px  15%;
    .papeles{
        display:flex;
        flex-direction: column;
        padding-bottom: 20px;
        .introduccion{
            h2{
                @extend %h2mobile;
            }
        }
        .textoPrimerosPasos{
        @extend %estiloTextos;
        margin:0;
            p {
                margin:0;
                .consulado{
                    color: $FontColor;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }
}
/*mediaQueryPrimerosPasos*/ 
@media only screen and (min-width:600px){ /*pantallaMediana*/
    .seccionPrimerosPasos{
        .introduccion{
            h1{
                font-size: 27px;
            }
            h2{
                font-size: 25px;
            }
        }       
        .divPrimerosPasos{ 
            .textoPrimerosPasos{
                font-size: 14px;
            }
        }
    }
    .seccionPrimerosPasos2{
        padding: 0 12%;
        .papeles{
            display:flex;
            flex-direction: row;
            align-items: flex-start;
            padding-bottom: 22px;
            .introduccion{
                width: 160px;
            }
            .introduccion{
                h2{
                    font-size: 25px;
                }
            }
            .textoPrimerosPasos{
                    font-size:14px;
                    line-height: 18px;
                }
        }
    }
}
@media only screen and (min-width:992px)/*pantallaGrande*/{
    .seccionPrimerosPasos, .seccionPrimerosPasos2{
        .introduccion{
            h1{
                font-size: 36px;
            }
            h2{
                font-size: 27px;
            }
        }
        .divPrimerosPasos{ 
            .textoPrimerosPasos{
           font-size: 16px;
           line-height: 20px;
            li{
                line-height: 10px;
                }
            }
        }
    }
    .seccionPrimerosPasos2{
        padding:10px 15%;
        .papeles{
            padding-bottom: 30px;
            .introduccion{
                width: 160px;
                font-size: 16px;
                h2{
                    font-size: 27px;
                    }
                }
            .center{
                .textoPrimerosPasos{
                    font-size: 16px;
                    line-height: 20px;
                    li{
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
/*finMediaQueryPrimerosPasos*/
/*finEstilosPrimerosPasos*/

/*estilosDerechos*/
.seccionDerechos{
    background: $background;
    padding: 0 10%;
    .introduccion{
        h1{
            padding: 16px;
            font-family: $FontH1;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px;
            text-align: center;
            color: $FontH1Color;
        }
        h2{ 
            @extend %h2mobile;   
        }
    }
    .textoDerechos{
        @extend %estiloTextos;
        margin: 0;
        padding-bottom: 2rem;   
    }
}
.row {
    display:flex; 
    justify-content: space-around;
    width:100%;
    margin: 0;
    .col-sm-6 { 
        width: 150px;
        padding-left: 0;
        .card {
            display:flex; 
            justify-content: space-around;
            background: $background;
            border: $FontColor;
            padding-top: 2rem !important;
            height: 100%;
            .card-body{
                background-color: $CardBackground;
                border: 2px solid;
                color: $FontColor;
                border-radius: 40px 0;        
                height: fit-content;
                width: 150px;
                padding: 5px 1rem;
                .card-title{
                    color:$FontColor;
                    font-size: 16px;
                }
                .card-text{
                    color:$FontColor;
                    font-size: 12px;
                }
                .btn-primary { /*botonInactivo*/
                    border-color:$FontColor;
                    background: $FontColor;
                    border-radius: 15px 0 ;
                }
                &:focus {/*botonActivo*/
                    border-color: $FontColor;
                    background: $FontColor;
                    border-radius: 15px 0 ;
                    outline-style: none;
                    box-shadow: none;
                }
            }
        }
    .modal{/*estilosModal*/
        background:#FFD687;
        }
    .show .modal-dialog {
        transform: none;
        }
    .modal.fade .modal-dialog{
        padding-top: 5vh;
            .modal-content{
                color: $FontColor;
                background: $CardBackground;
                .linkCards{
                    pointer-events: all;/*paraLinkearDentroDelCard*/
                }
            }
        } 
    }
}
/*mediaQueryDerechos*/
@media only screen and (min-width:600px){ /*pantallaMediana*/
    .seccionDerechos{
        .introduccion{
            h1{
                font-size: 27px;
            }
            h2{
                font-size: 25px;
            }    
        }
        .textoDerechos{
            font-size: 14px;
        }
    }
    .row{
        .col-sm-6{
            .card{
                .card-body{
                    .card-title{
                        font-size: 18px;
                    }
                    .card-text{
                        font-size: 14px;
                    }
                } 
            }   
        } 
    }
}
@media only screen and (min-width:992px)/*pantallaGrande*/{
    .seccionDerechos{
        .introduccion{
            h1{
                font-size: 31px;
            }
            h2{
                font-size: 27px;
            }    
        }
        .textoDerechos{
            font-size: 16px;
            line-height: 20px;
        }
    }
    .row{
        .col-sm-6{
            width: 250px;
            .card{
                .card-body{
                    width: 250px;
                    .card-title{
                        font-size: 18px;  
                    }
                    .card-text{
                        font-size: 14px;
                    }
                } 
            }   
        } 
    }
    .center{
        .textoDerechos{
            padding-left: 16rem;
        }
    }   
}
/*finMediaQueryDerechos*/
/*finEstilosDerechos*/

/*estilosDuelo*/
.seccionDuelo{
    background: $background;
    padding: 10px 10%;
    .introduccion{ 
        h1{
            padding: 16px;
            font-family: $FontH1;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px;
            text-align: center;
            color: $FontH1Color;
        }
        h2{ 
        @extend %h2mobile;   
        }
    }
    .main{
        .texto{
            @extend %estiloTextos;
            margin:0;
        }
    }
    .row.row-cols-1.row-cols-md-2.g-4{
            display: flex;
            
            .col{
                width: 240px;
                .cardDuelo{
                    .card-body{
                        a{
                            text-decoration: none;
                            h5{
                                font-size: 16px;
                                text-align: center;
                                color: $FontColor;                       
                     }
                }
                        p{
                            font-size: 12px;
                            color: $FontColor;
                            text-align: center;
                    }
                }
            }
        }
    }
}
/*mediaQueryDuelo*/
@media only screen and (min-width:600px){ /*pantallaMediana*/
    .seccionDuelo{
        padding: 10px 15%;
        .introduccion{
            h1{
                font-size: 27px;
            }
        }
        .main{
            .texto{
                font-size: 14px;
            }
        }
        .row.row-cols-1.row-cols-md-2.g-4{
            .col{
                width: 340px;
                .cardDuelo{
                    .card-body{
                        a{
                            h5{
                                font-size: 16px;
                            }
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:992px)/*pantallaGrande*/{
    .seccionDuelo{
        padding: 15px 15%;
        .introduccion{
            h1{
                font-size: 31px;
            }
        }
        .main{
            .texto{
                font-size: 16px;
                line-height: 22px;
            }
        }
        .row.row-cols-1.row-cols-md-2.g-4{
            .col{
                width: 340px;
                .cardDuelo{
                    .card-body{
                        a{
                            h5{
                                font-size: 18px;
                            }
                        }
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
/*finMediaQueryDuelo*/
/*finEstilosDuelo*/

/*estilosArticulos*/
.seccionArticulos{
    background: $background;
    padding: 10px  10%;
    h1{
        font-family: $FontH1;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        color: $FontH1Color;
        padding-bottom: 12px;
    }
    h2{
        @extend %h2mobile;
        padding: 0;
        line-height: 30px;      
    }
    .center{
        color:$FontColor;
        @extend %estiloTextos;
        margin: 5% 0;
    }
    p{
        @extend %estiloTextos;
        margin-right: 0;
        margin-left: 0;
        .texto{
            @extend %estiloTextos;
            margin-right: 0;
            margin-left: 0;
        }
    }
}      
/*mediaQueryArticulos*/
@media only screen and (min-width:600px){ /*pantallaMediana*/
    .seccionArticulos{
        padding: 10px  15%;
        h1{
            font-size: 27px;
        }
        h2{
            font-size: 24px;
        }
        .center{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
    }
}
@media only screen and (min-width:992px)/*pantallaGrande*/{
    .seccionArticulos{
        h1{
        font-size: 31;
        }
        h2{
            font-size: 27;
        }
        .center{
            font-size: 16px;
            }
        p{
            font-size: 16px;
        }
    }
}
/*finEstilosArticulos*/

/*estilosContactos*/
.contacto{
    display: flex;
    flex-direction: row;
    background: $background;
    width: 100%;
    height: 100%;
    .imagenContacto{
        display: none;
    }
    .loginBox{
        margin-top: 25px;
        margin-left: 25%;
        margin-bottom: 25px;
        width: fit-content;
        padding: 40px;
        background: $CardBackground;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,0.6);
        border-radius: 10px;
        h2{
            color:$FontH1Color;
            font-family: $FontH1;
            margin: 0 0 30px;
            padding: 0;
            text-align: center;
        }
        form{
            .usuarioBox{position: relative;
                width: 100%;
                padding: 10px 0;
                font-size: 12px;
                color:$FontColor;
                input{
                    width: 100%;
                    text-align: center;
                    padding: 5px 0;
                    font-size: 12px;
                    background: $background;
                    outline: none;
                }
                textarea{
                    width: 100%;
                    text-align: center;
                    background: $background;
                }
            }
            p{
                color: $FontColor;
                .mensajeContacto{
                    height: auto;
                    max-height: 150px;
                }
            }
            .botones{
                display: flex;
                flex-direction:column;

                button{
                    float: left;
                    padding: 2px;
                    margin:10px;
                    font-family:'Montserrat',sans-serif;
                    border: 2px solid #78788c;
                    background:0;
                    color: #5a5a6e;
                    cursor: pointer;
                    border-radius: 10px;
                    a{
                        font-size: 12px;
                        text-decoration: none;
                        color:$FontColor;
                    }
                    input{
                        font-size: 12px;
                        text-decoration: none;
                        color:$FontColor;
                        background: 0;
                    }
                }
            }
        }
    }
}
/*mediaQueryContacto*/
@media only screen and (min-width:600px){ /*pantallaMediana*/
    .contacto{
        justify-content: space-around;
        .imagenContacto{
            display:flex;
            width: 45%;
            padding: 20px;
        }
        .loginBox{
            margin-left: 0;
        }
    }
}
@media only screen and (min-width:992px)/*pantallaGrande*/{
    .contacto{
        .loginBox{
            width: 40%;
            height: 70%;
            margin-top: 10%;
            margin-bottom: 10%;
            h2{
                font-size: 31px;
            }
            form{
                .usuarioBox{
                    font-size: 16px;
                    input{
                        font-size: 16px;
                    }
                }
                .botones{
                    button{
                        a{
                            font-size:16px;
                        }
                        input{
                            font-size: 16px;
                        }
                    }
                }

            }
        }
    }
}
/*finEstilosContacto*/

/*estilosError404*/
@import url(https://fonts.googleapis.com/css?family=Gilda+Display); /*importoFuente*/
.paginaError {
    background: $background;
    color:$FontH1Color;
    overflow: hidden;
    height: 100%;
    user-select: none;
}
.static {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    top: -100px;
    opacity: 0.05;
    z-index: 230;
    user-select: none;
}
.error {
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-size: 95px;
    font-style: italic;
    text-align: center;
    width: 100px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    right: 0;
    animation: noise 2s linear infinite;
    overflow: default;
}
.error:after {
    content: '404';
    font-family: 'Gilda Display', serif;
    font-size: 100px;
    font-style: italic;
    text-align: center;
    width: 150px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: blue;
    animation: noise-1 .2s linear infinite;
}
.info {
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    text-decoration:none;
    color:$FontH1Color;
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    animation: noise-3 1s linear infinite;
}
.error:before {
    content: '404';
    font-family: 'Gilda Display', serif;
    font-size: 100px;
    font-style: italic;
    text-align: center;
    width: 100px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: red;
    animation: noise-2 .2s linear infinite;
}
@keyframes noise-1 {
    0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
    10% {opacity: .1;}
    50% {opacity: .5; left: -6px;}
    80% {opacity: .3;}
    100% {opacity: .6; left: 2px;}
}
@keyframes noise-2 {
    0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
    10% {opacity: .1;}
    50% {opacity: .5; left: 6px;}
    80% {opacity: .3;}
    100% {opacity: .6; left: -2px;}
}
@keyframes noise {
    0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
    4.3% {opacity: 1; transform: scaleY(1.7);}
    43% {opacity: 1; transform: scaleX(1.5);}
}
@keyframes noise-3 {
    0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
    4.3% {opacity: 1; transform: scaleY(4);}
    43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}
@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    img { width: 100%; height: auto; }
}
.content {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
}
/*finEstilosError*/


