@charset "UTF-8";
/*variables*/
/*colorBase*/
/*fondoCards*/
/*fuente*/
/*fuenteH1*/
/*fuenteH1*/
/*fuenteMobile*/
.seccionPrimerosPasos2 .introduccion h2, .seccionPrimerosPasos .introduccion h2, .utiles h2, .seccionHome .introduccion h2 {
  /*extend*/
  padding: 5px 16px 0;
  font-family: "pacifico";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  color: #A44A3F;
}

.seccionPrimerosPasos2 .textoPrimerosPasos, .seccionPrimerosPasos .divPrimerosPasos .textoPrimerosPasos, .seccionHome .main .texto {
  /*extend*/
  margin: 5% 10%;
  font-family: "roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #666464;
}

/*finVariables*/
/*inicioEstilosTodasLasPaginas*/
* {
  padding: 0;
  /*sacoLoPredeterminado*/
  margin: 0;
  border: 0ch;
}

.encabezado {
  /*header*/
  height: 4rem;
  width: 100%;
  background-color: #FFD687;
  /*fondoHeader*/
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  /*encabezadoFijo*/
  top: 0;
  z-index: 1030;
  padding-right: 3rem;
  padding-left: 3rem;
  /*terminaMenuNavegacion*/
}
.encabezado .logo {
  padding: 5px;
  margin-left: 5vw;
}
.encabezado .bg-light {
  /*menuDeNavegacion*/
  background-color: #FFD687 !important;
}
.encabezado .navbar-light .navbar-toggler {
  color: #666464;
  /*usoVariables*/
  border-color: #666464;
}
.encabezado .navbar-light .navbar-nav .nav-link.active, .encabezado .navbar-light .navbar-light .navbar-nav .show > .nav-link {
  color: #666464;
  font-size: 16px;
}
.encabezado ul {
  list-style: none;
  /*sacaViñetaLista*/
  display: flex;
  justify-content: space-around;
}
.encabezado .container, .encabezado .container-fluid, .encabezado .container-lg, .encabezado .container-md, .encabezado .container-sm, .encabezado .container-xl, .encabezado .container-xxl {
  background-color: #FFD687;
}
.encabezado a {
  text-decoration: none;
  /*sacaSubrayadoTodosA*/
  display: flex;
  justify-content: space-between;
}

/*cierraHeader*/
footer {
  /*footerUnico*/
  bottom: 0;
  left: 0;
  right: 0;
}
footer div.social-media-links {
  background-color: #FF8F52;
  overflow: hidden;
  text-align: center;
  color: #1A7564;
  padding-top: 0.7rem;
}
footer div.social-media-links ul {
  margin: 0;
  padding: 0;
}
footer div.social-media-links li {
  display: inline;
  margin: 0;
  padding: 0 20px;
}
footer div.social-media-links a {
  border-bottom: 0px solid rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
  display: initial;
  height: 30px;
  padding: 20px;
  position: relative;
  transition: 0.2s ease-in;
  width: 30px;
}
footer div.social-media-links a svg {
  left: 20px;
  position: absolute;
  top: 20px;
  height: 30px;
  width: 30px;
}
footer div.social-media-links a svg .glow path,
footer div.social-media-links a svg .glow circle {
  fill: rgba(0, 0, 0, 0);
}
footer div.social-media-links a svg path,
footer div.social-media-links a svg circle {
  fill: #1A7564;
  transition: 0.2s ease-in;
}
footer div.social-media-links a:hover {
  transform: translateY(-4px);
  box-shadow: inset 0 -3px 0 0 #1A7564;
}
footer div.social-media-links a:hover svg.glow {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  filter: blur(2px);
}
footer div.social-media-links a:hover svg.glow path,
footer div.social-media-links a:hover svg.glow circle {
  fill: fadeout #1A7564c7, 40;
}
footer div.social-media-links a:hover svg path, footer div.social-media-links a:hover circle {
  fill: #1A7564c7;
}
footer div.social-media-links p.copy {
  margin-top: 0px;
  color: #666464;
  padding-top: 1em;
}

/*finEstilosTodasLasPaginas*/
/*estilosHome*/
.seccionHome {
  background: #F6F4D2;
}
.seccionHome .introduccion h1 {
  padding: 16px;
  font-family: "pacifico";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  color: #A44A3F;
}
.seccionHome .main .imagenOcultable {
  display: none;
}
.seccionHome .main .imagenPortada1 {
  width: 288px;
  margin: 12%;
}
.seccionHome .main .imagenPortada2 {
  width: 288px;
  margin: 0 12% 12%;
}

#area1, #area2, #area3, #area4 {
  background-color: #CBDFBD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px 0px 15px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.utiles {
  background: #F6F4D2;
}
.utiles .ulFlex .ulHome {
  list-style: none;
  padding: 1.5rem;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 0;
  grid-template-areas: "area1 area4" "area3 area2";
  grid-gap: 1rem;
}
.utiles .ulFlex .ulHome li {
  align-self: center;
}
.utiles .ulFlex .ulHome li p {
  padding: 3%;
  margin-bottom: 0;
}
.utiles .ulFlex .ulHome li #area1 {
  grid-area: 1;
}
.utiles .ulFlex .ulHome li #area2 {
  grid-area: 2;
}
.utiles .ulFlex .ulHome li #area3 {
  grid-area: 3;
}
.utiles .ulFlex .ulHome li #area4 {
  grid-column: 4;
}

/*mediaQueryHome*/
@media only screen and (min-width: 600px) {
  /*pantallaMediana*/
  .seccionHome .introduccion {
    padding: 0px;
  }
  .seccionHome .introduccion h1 {
    font-size: 27px;
  }
  .seccionHome .introduccion h2 {
    font-size: 25px;
  }
  .seccionHome .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .seccionHome .main .texto {
    margin: 5% 8%;
    font-size: 14px;
  }
  .seccionHome .main .imagenOcultable {
    display: flex;
    position: static;
    left: 0%;
    right: 51.21%;
    top: 2.59%;
    bottom: 2.59%;
    border: 0;
    flex-grow: 0;
    margin: 0px 17px;
    width: 50%;
  }
  .seccionHome .main .imagenPortada1 {
    display: none;
  }
  .seccionHome .main .imagenPortada2 {
    width: 55%;
    margin: 0;
    padding: 25px 16px 0;
  }

  .utiles {
    display: flex;
  }
  .utiles h2 {
    align-self: center;
    font-size: 25px;
  }
}
@media only screen and (min-width: 992px) {
  .seccionHome .introduccion h1 {
    font-size: 31px;
  }
  .seccionHome .introduccion h2 {
    font-size: 28px;
    padding-top: 35px;
  }
  .seccionHome .main {
    margin: 0 20% 0 20%;
  }
  .seccionHome .main .texto {
    font-size: 16px;
    line-height: 20px;
  }
  .seccionHome .main .imagenPortada2 {
    padding-top: 0;
  }

  .utiles {
    justify-content: center;
  }
  .utiles h2 {
    font-size: 28px;
  }
}
/*finMediaQuerysHome*/
/*finEstilosHome*/
.seccionPrimerosPasos {
  background: #F6F4D2;
}
.seccionPrimerosPasos .introduccion h1 {
  padding-top: 16px;
  font-family: "pacifico";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  color: #A44A3F;
}
.seccionPrimerosPasos .introduccion h2 {
  padding-top: 0;
}
.seccionPrimerosPasos .divPrimerosPasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10%;
}
.seccionPrimerosPasos .divPrimerosPasos .textoPrimerosPasos {
  margin: 0;
  margin-bottom: 1rem;
}
.seccionPrimerosPasos .imagenPrimerosPasos {
  display: flex;
  width: 55%;
  padding-bottom: 15px;
}

.seccionPrimerosPasos2 {
  background: #F6F4D2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10%;
}
.seccionPrimerosPasos2 .textoPrimerosPasos {
  margin: 0;
}
.seccionPrimerosPasos2 .textoPrimerosPasos p {
  margin: 0;
}
.seccionPrimerosPasos2 .textoPrimerosPasos p .consulado {
  color: #666464;
  text-decoration: none;
  font-weight: bold;
}

/*mediaQueryPrimerosPasos*/
@media only screen and (min-width: 600px) {
  /*pantallaMediana*/
  .seccionPrimerosPasos .introduccion h1 {
    font-size: 27px;
  }
  .seccionPrimerosPasos .introduccion h2 {
    font-size: 25px;
  }
  .seccionPrimerosPasos .divPrimerosPasos .textoPrimerosPasos {
    font-size: 14px;
  }

  .seccionPrimerosPasos2 .introduccion h2 {
    font-size: 25px;
  }
  .seccionPrimerosPasos2 .textoPrimerosPasos {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  .seccionPrimerosPasos .introduccion h1, .seccionPrimerosPasos2 .introduccion h1 {
    font-size: 36px;
  }
  .seccionPrimerosPasos .introduccion h2, .seccionPrimerosPasos2 .introduccion h2 {
    font-size: 27px;
  }
  .seccionPrimerosPasos .divPrimerosPasos .textoPrimerosPasos, .seccionPrimerosPasos2 .divPrimerosPasos .textoPrimerosPasos {
    font-size: 16px;
  }
  .seccionPrimerosPasos .divPrimerosPasos .textoPrimerosPasos li, .seccionPrimerosPasos2 .divPrimerosPasos .textoPrimerosPasos li {
    padding: 10px;
  }

  .seccionPrimerosPasos2 .center {
    padding: 10px;
  }
  .seccionPrimerosPasos2 .center .textoPrimerosPasos {
    font-size: 16px;
  }
  .seccionPrimerosPasos2 .center .textoPrimerosPasos li {
    padding-bottom: 12px;
  }
}
/*finMediaQueryPrimerosPasos*//*# sourceMappingURL=main.css.map */