/*variables*/
$FontColor: #666464;/*colorBase*/
$CardBackground: #EBB7E6;/*fondoCards*/
$Font-face:'Open Sans', sans-serif; /*fuente*/
$FontH1: 'pacifico';  /*fuenteH1*/
$FontH1Color: #A44A3F; /*fuenteH1*/
$FontTextoMobile: 'roboto'; /*fuenteMobile*/
$FontTextoMobileSize: 12px;
$background:#F6F4D2;
%h2mobile { /*extend*/
    padding: 5px 16px 0; 
    font-family: $FontH1;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    color: $FontH1Color;
}
%estiloTextos{ /*extend*/
    margin: 5% 10%;
    font-family: $FontTextoMobile;
    font-size: $FontTextoMobileSize;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: $FontColor;
}
/*finVariables*/

/*inicioEstilosTodasLasPaginas*/
*{padding: 0; /*sacoLoPredeterminado*/
    margin: 0;
    border: 0ch;
}
.encabezado{/*header*/
    height: 4rem;
    width: 100%;
    background-color:#FFD687 ;/*fondoHeader*/
    display: flex;
    justify-content: space-between;
    position:sticky;/*encabezadoFijo*/
    top: 0;
    z-index: 1030;
    padding-right: 3rem;
    padding-left: 3rem;
    .logo {
        padding: 5px;
        margin-left:5vw;
    }
    .bg-light { /*menuDeNavegacion*/
        background-color:#FFD687 !important;
    }
    .navbar-light {
        .navbar-toggler {
            color:$FontColor; /*usoVariables*/
            border-color:$FontColor;
        }
        .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
            color: $FontColor;
            font-size: 16px;
        }
    }
    ul {
        list-style: none;/*sacaViñetaLista*/
        display: flex;
        justify-content:space-around;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        background-color: #FFD687;
    }
    a {text-decoration: none; /*sacaSubrayadoTodosA*/
        display: flex;
        justify-content: space-between;
    } /*terminaMenuNavegacion*/  
}/*cierraHeader*/
footer { /*footerUnico*/
    bottom: 0;
    left: 0;
    right: 0;
    div.social-media-links {
        background-color: #FF8F52;
        overflow: hidden;
        text-align: center;
        color: #1A7564;
        padding-top: 0.7rem;
        ul {
            margin: 0;
            padding: 0;
        }
        li{
            display: inline;
            margin: 0;
            padding: 0 20px; 
        }
        a{
            border-bottom: 0px solid rgba(0,0,0,0.95) ;
            border-radius: 4px;
            box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0),
            0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0),
            0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
            display: initial;
            height: 30px;
            padding: 20px;
            position: relative;
            -webkit-transition: 0.2s ease-in;
            transition: 0.2s ease-in;
            width: 30px; 
            svg {
                left: 20px;
                position: absolute;
                top: 20px;
                height: 30px;
                width: 30px;
                .glow path,
                .glow circle{
                    fill: rgba(0, 0, 0, 0);
                }
                path,
                circle {
                    fill: #1A7564;
                    -webkit-transition: 0.2s ease-in;
                    transition: 0.2s ease-in;
                }
            }
        }
        a:hover {
            -webkit-transform: translateY(-4px);
            transform: translateY(-4px); 
            box-shadow: inset 0 -3px 0 0 #1A7564;
            svg.glow{
                filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
                -webkit-filter: blur(2px);
                filter: blur(2px);
                path, 
                circle{
                    fill: fadeout ( #1A7564c7, 40)
                }
            }
            svg path,
            & circle {
                fill:#1A7564c7;
            }
        }
        p.copy {
            margin-top: 0px;
            color: $FontColor;
            padding-top: 1em;
            
        }
    }
}
/*finEstilosTodasLasPaginas*/

/*estilosHome*/
.seccionHome{
    background: $background;
    .introduccion{
        h1{
            padding: 16px;
            font-family: $FontH1;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px;
            text-align: center;
            color: $FontH1Color;
        }
        h2{ 
            @extend %h2mobile;   
        }
    }
    .main{
        .texto{
            @extend %estiloTextos;
        }
        .imagenOcultable{
            display: none;
        }
        .imagenPortada1{
            width: 288px;
            margin: 12%;
        }
        .imagenPortada2{
            width: 288px;
            margin: 0 12% 12%;  
        }
    }
}
#area1, #area2, #area3, #area4{
    background-color: #CBDFBD;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
    border-radius: 16px 0px 15px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.utiles{
    background: $background;
    h2{ 
        @extend %h2mobile;
    }
    .ulFlex{
        .ulHome{
            list-style: none;
            padding: 1.5rem;
            text-decoration: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-bottom: 0;
            li{
                p{
                    padding: 3%;
                    margin-bottom: 0;
                }
                align-self: center;
                #area1{
                    grid-area: 1;
                }
                #area2{
                    grid-area: 2;
                }
                #area3{
                    grid-area: 3;
                }
                #area4{
                    grid-column: 4;
                }
            }  
            grid-template-areas: "area1 area4"
                                 "area3 area2";
            grid-gap: 1rem;                    
        }
    }
}
/*mediaQueryHome*/
@media only screen and (min-width:600px){ /*pantallaMediana*/
    .seccionHome{
        .introduccion{
            padding: 0px;
            h1{
                font-size: 27px;
            }
            h2{
                font-size: 25px;
            }
        }
        .main{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            .texto{
                margin: 5% 8%;
                font-size: 14px;
            }
            
            .imagenOcultable{
                display:flex;
                position: static;
                left: 0%;
                right: 51.21%;
                top: 2.59%;
                bottom: 2.59%;
                border: 0;
                flex-grow: 0;
                margin: 0px 17px;
                width: 50%;
            }
            .imagenPortada1{
                display: none;
            }
            .imagenPortada2{
                width: 55%;
                margin: 0;
                padding: 25px 16px 0;
            }
        }
    }
    .utiles{
        display: flex;
        h2{
            align-self: center;
            font-size: 25px;
        }
    }
}
@media only screen and (min-width:992px)/*pantallaGrande*/{
    .seccionHome{
        .introduccion{
            h1{
                font-size: 31px;
            }
            h2{
                font-size: 28px;
                padding-top: 35px;
            }
        }
        .main{
            margin: 0 20% 0 20%;
            .texto{
                font-size: 16px;
                line-height: 20px;
            }
            .imagenPortada2{
                padding-top: 0;
            }
        }
    }
    .utiles{
        justify-content: center;
        h2{
            font-size: 28px;
        }
    }
}/*finMediaQuerysHome*/
/*finEstilosHome*/
.seccionPrimerosPasos{
    background: $background;
    .introduccion{
        h1{padding-top: 16px;
            font-family: $FontH1;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px;
            text-align: center;
            color: $FontH1Color;
        }
        h2{
            @extend %h2mobile;
            padding-top:0;
        }
    }
    .divPrimerosPasos{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10%;
        .textoPrimerosPasos{
        @extend %estiloTextos;
        margin:0;
        margin-bottom: 1rem;
        }
    }
    .imagenPrimerosPasos{
        display: flex;
        width: 55%;
        padding-bottom: 15px;
    }   
}
.seccionPrimerosPasos2{
    background: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px  10%;
    .introduccion{
        h2{
            @extend %h2mobile;
        }
    }
    .textoPrimerosPasos{
        @extend %estiloTextos;
        margin:0;
        p {
            margin:0;
            .consulado{
                color: $FontColor;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}
/*mediaQueryPrimerosPasos*/ 
@media only screen and (min-width:600px){ /*pantallaMediana*/
    .seccionPrimerosPasos{
        .introduccion{
            h1{
                font-size: 27px;
            }
            h2{
                font-size: 25px;
            }
        }       
        .divPrimerosPasos{ 
            .textoPrimerosPasos{
                font-size: 14px;
            }
        }
    }
    .seccionPrimerosPasos2{
        .introduccion{
            h2{
                font-size: 25px;
            }
        }
        .textoPrimerosPasos{
                font-size:14px;
            }
    }
}
@media only screen and (min-width:992px)/*pantallaGrande*/{
    .seccionPrimerosPasos, .seccionPrimerosPasos2{
        .introduccion{
            h1{
                font-size: 36px;
            }
            h2{
                font-size: 27px;
            }
        }
        .divPrimerosPasos{ 
            .textoPrimerosPasos{
           font-size: 16px;
            li{
                padding: 10px;
                }
            }
        }
    }
    .seccionPrimerosPasos2{
        .center{
            padding:10px;
            .textoPrimerosPasos{
                font-size: 16px;
                li{
                    padding-bottom: 12px;
                }
            }
        }
    }
}
/*finMediaQueryPrimerosPasos*/